
<div style="display: inline-block;" class="exit">
    <i class="fa fa-long-arrow-right" routerLink="/projects" routerLinkActive= "active" ></i>
</div>
<div class="side-form">


<div style="display: inline-block;" fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">

    <div class="wow slideInDown" data-wow-duration=".5s" data-wow-delay=".1s" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(25%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
      <!-- <div>-title>Flow Roll JJ</mat-card-title> -->
      <a href="https://view.flowrolljj.com"><img href="https://view.flowrolljj.com" hover-class="hovering" mat-card-image src="./../../assets/dashboard.PNG" class="image"></a>
      <!-- <div>-content>Primary card content. Intended for blocks of text</mat-card-content>
      <div>-actions>Container for buttons at the bottom of the card</mat-card-actions> -->
      </div>
    
    <div class="wow slideInDown" data-wow-duration=".5s" data-wow-delay=".2s"  fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(25%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
      <!-- <div>-title>Ecommerce</mat-card-title> -->
      <a href="https://ecommerce-84051.web.app/"><img hover-class="hovering" mat-card-image src="./../../assets/ecommerce.PNG" class="image"></a>
      <!-- <div>-content>Primary card content. Intended for blocks of text</mat-card-content>
      <div>-actions>Container for buttons at the bottom of the card</mat-card-actions> -->
      </div>
  
    <div  class="wow slideInDown" data-wow-duration=".5s" data-wow-delay=".3s"fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(25%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
      <!-- <div>-title>D3.js Tree Builder</mat-card-title> -->
      <a href="https://flowrolljj.com"><img  hover-class="hovering" mat-card-image  style="" src="./../../assets/landing.PNG" class="image"></a>
      <!-- <div>-content>Primary card content. Intended for blocks of text</mat-card-content>
      <div>-actions>Container for buttons at the bottom of the card</mat-card-actions> -->
      </div>
  
    <div  class="wow slideInDown" data-wow-duration=".5s" data-wow-delay=".4s"fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(25%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
      <!-- <div>-title>Personal Portfolio</mat-card-title> -->
      <a href="https://portfolio-9943f.web.app/"><img  hover-class="hovering" mat-card-image src="./../../assets/portfolio.PNG" class="image"></a>
      <!-- <div>-content>Primary card content. Intended for blocks of text</mat-card-content>
      <div>-actions>Container for buttons at the bottom of the card</mat-card-actions> -->
      </div>

  </div>
</div>