
.exit {
    font-size: 48px;
    color: white;
    position: absolute;
    right: 70%;
    top: calc(50% - 40px)
}

.hovering {
  // zoom: 120%;
  z-index: 99999;
  animation: jello .8s;
  color: #b1a296;
}

.mat-card {
    background-color: transparent
  }
  
  .mr-10 {
    margin-right: 10px;
  }
  
  .ml-10 {
    margin-left: 10px;
  }

.image {
    width: 250px;
    height: 250px;
    border-color: grey;
    border-width: 2px;
    border-style: solid;
    cursor:pointer;
    margin: 10px;
}