
    <section id="offer" class="container ft-centered">
        <div class="row" style=" top: 150px; position: relative">

          <header class="sec-heading" style="width:100%">
            <h2 class="first wow fadeInDown">I'll show you how great i am...</h2><br>
            <span class="sub wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">With minimalist animation</span>
            <span class="sub wow fadeIn"  data-wow-duration="2s" data-wow-delay="2s">And half-assed design</span>
          </header>
          
          <!-- Item 1 -->
          <div class="col-md-4 col-sm-6 mb-sm-50 ft-item ft-basic wow fadeIn" data-wow-duration=".8s" data-wow-delay=".33s">
            <!-- <span class="et-anchor"></span> -->
            <img  style="width: 60px; height:60px;" src="./../../assets/node.png">
            <h5 class="first">Node.JS</h5>
            <p>Advanced understanding of node.js@14.x</p>
          </div>

          <!-- Item 2 -->
          <div class="col-md-4 col-sm-6 mb-sm-50 ft-item ft-basic wow fadeIn" data-wow-duration=".5s" data-wow-delay=".66s">
            <!-- <span class="et-strategy"></span> -->
            <img  style="width: 60px; height:60px;" src="./../../assets/angular.png">
            <h5 class="first">Angular 9x</h5>
            
            <p>Advanced understanding of angular@10.x</p>
          </div>

          <!-- Item 3 -->
          <div class="col-md-4 col-sm-6 mb-sm-50 ft-item ft-basic wow fadeIn" data-wow-duration=".8s" data-wow-delay=".99s">
            <!-- <span class="et-bargraph"></span> -->
            <img  style="width: 60px; height:60px;" src="./../../assets/firebase.png">

            <h5 class="first">Firebase</h5>
            <p>Advanced understanding of firebase@10.x</p>
          </div>

        </div><!-- / .row -->
      </section>