<div class="page" style="z-index: 100;">
<Particles id="tsparticles" class="particles" [options]="particlesOptions"></Particles>
<div class="main">
  <div class="wow slideInLeft" data-wow-duration="1s" data-wow-delay=".3s">
    <h1 @mainAnimation  hover-class="hovering" style="display: inline-block;">I&#160;</h1>
    <h1 @mainAnimation  hover-class="hovering" style="display: inline-block;">Like&#160;</h1>
    <h1 @mainAnimation  hover-class="hovering" style="display: inline-block;">to&#160;</h1>
    <h1 @mainAnimation  hover-class="hovering" style="display: inline-block;">build&#160;</h1>
  </div>
  <div  class="wow slideInLeft" data-wow-duration="1s" data-wow-delay=".6s">
    <h5 hover-class="hovering"  style="display: inline-block;">Interactive&#160;</h5>
    <h5 hover-class="hovering"  style="display: inline-block;">Web&#160;</h5>
    <h5 hover-class="hovering"  style="display: inline-block;">Apps&#160;</h5>
  </div> 
    <button class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.5s" hover-class="hovering" routerLink="list"><h5>Check it out</h5></button>


  </div>

  <app-social-media></app-social-media>
</div>
<div class="view-project-form">
  <router-outlet></router-outlet>
</div>