

<navbar></navbar>
<div
	class="router-wrapper"
	[@homeToAbout]="getState(o)"
	[@homeToProjects]="getState(o)"
	[@homeToContact]="getState(o)"
	[@aboutToHome]="getState(o)"
	[@aboutToProjects]="getState(o)"
	[@aboutToContact]="getState(o)"
	[@projectsToHome]="getState(o)"
	[@projectsToAbout]="getState(o)"
	[@projectsToContact]="getState(o)"
	[@contactToHome]="getState(o)"
	[@contactToAbout]="getState(o)"
	[@contactToProjects]="getState(o)"

	>
	<router-outlet #o="outlet">  </router-outlet>
</div>