
<div style="display: inline-block;" class="exit">
    <i class="fa fa-long-arrow-right" routerLink="/about" routerLinkActive= "active" ></i>
</div>
<div class="blank" (click)="redirectClose()"></div>
<div class="side-form">
    <header class="sec-heading" style="width:100%; text-align: center;  top: 0px; position: relative">
        <h2 class="first wow fadeInDown">Software Engineering</h2><br>
      </header>
        <p class="text"> My career as a software engineer ironically began 3 years ago while earning my Bachelors in
            the unrelated field of Biomolecular Engineering at the Georgia Institute of Technology. While
            the two discplines are certainly distinct, I focused my education upon computational modelling
            and simulation of highly complex biological systems such as drug delivery mechanisms where I 
            learned the basics of data structures and design pattern.<br><br>

            Flash forward to graduation, I realized I was far more intrigued by the computation than I was
            the biomolecular component. Fortunately, I was also succeeding in my hobby as a Jiu Jitsu Athlete
            which afforded me the luxury of paying the bills while I furthered my self-education, freelanced, and developed my own projects.
            One of these projects came to be known as Flow Roll JJ, an interactive flow chart mapping positions and techniques
            found in the sport of Brazilian Jiu Jitsu.<br><br>

            Flow Roll JJ, or FRJJ for short, is a single page web application that utilizes the javascript library d3.js
            to produce an interactive collapsible flow chart with several novel features. These features include
            node searching and transitioning between interrelated nodes that are not necessarily adjacent in the node tree.
            In essence, a 2 dimensional map has been tailored to offer a 3rd dimension of connectivity.<br><br>

            Each node in the tree is further integrated with an Angular 9.X based Wiki page that contains information,
            instruction, and links to any free content videos. This Wiki is publicly collaborative, and each page is stored
            in a Firebase Firestore Database.

            After the initial web app was completed, I then built Android and iOS versionas as well which are not both
            available on their respective app markets. Please visit the projects section of this portfolio website to
            check it out!


        </p>


</div>