.introduction {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin:20px;
}

.fa {
    color: black;
}

.system {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 1000px;
    height: 1000px;
    background-color: transparent;
    position: absolute;
    opacity: .2;
    // left: 50%;
    // transform: translateX(-50%);
    right: 0px;
    overflow: hidden;
  }