    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1s" class="introduction">
        <h1 class="wow slideInLeft" data-wow-duration="1s" data-wow-delay=".3s" hover-class="hovering">
            Hi,<br></h1>
        <h1 class="wow slideInLeft"  data-wow-duration="1s" data-wow-delay=".6s" >
            I'm Phillip,<br></h1>
        <h1 class="wow slideInLeft"  data-wow-duration="1s" data-wow-delay=".9s">
            A Fucking Badass.</h1>
        <p class="wow fadeIn"  data-wow-duration="1s" data-wow-delay="2s" style="color: gray;">
            And this is an unnecessary astronomically correct solar system</p>
    </div>
    <div id="system" class="system"></div>

